@model Entidades.Alumnos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Model.fechaNacimiento.ToString("yyyy-MM-dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sueldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstadoOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusAlumnos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar a la lista", "Index")

</p>

<p>

    <button type="button" class="btn btn-info" onclick="cargarAportacionesIMSS(@Model.id)">IMSS</button>
    <button type="button" class="btn btn-info" onclick="cargarTablaISR(@Model.id)">ISR</button>

</p>












<div class="modal fade" id="modalData" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle">Modal title</h4>
            </div>
            <div class="modal-body" id="cuerpoModal">



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@Scripts.Render("~/bundles/tich")


