@*@model Entidades.Alumno*@
@model dynamic

<h2>Detalles del Alumno</h2>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Id</dt>
        <dd>@Model.id</dd>

        
        
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
        
        
            <dt>Primer Apellido</dt>
            <dd>@Model.pApellido</dd>
        
        
            <dt>Segundo Apellido</dt>
            <dd>@Model.sApellido</dd>
        
        
            <dt>Correo</dt>
            <dd>@Model.correo</dd>
        
        
            <dt>Teléfono</dt>
            <dd>@Model.telefono</dd>
        
        
            <dt>Fecha de Nacimiento</dt>
            <dd>@Model.birthDay</dd>
        
        
            <dt>CURP</dt>
            <dd>@Model.curp</dd>
        
        
            <dt>Sueldo</dt>
            <dd>@Model.sueldo</dd>
        
        
            <dt>Estado de Origen</dt>
            <dd>@Model.Estado</dd>
        
        
            <dt>Estatus</dt>
            <dd>@Model.Estatus</dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la Lista", "Index")
</p>

